name: Django Auto Deploy

on:
  push:
    branches: [master]

jobs:
  deploy:
    name: Deploy to EC2
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Add SSH key
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.EC2_SSH_KEY }}" > ~/.ssh/id_ed25519
          chmod 600 ~/.ssh/id_ed25519
          ssh-keyscan -H ${{ secrets.EC2_HOST }} >> ~/.ssh/known_hosts

      - name: Debug EC2 Connection Secrets
        run: |
          echo "EC2_USER length: ${{ secrets.EC2_USER }}.${#secrets.EC2_USER}"
          echo "EC2_HOST length: ${{ secrets.EC2_HOST }}.${#secrets.EC2_HOST}"

      - name: Run deploy script on EC2
        env:
          SENTRY_DSN: ${{ secrets.SENTRY_DSN }}
          DJANGO_SECRET_KEY: ${{ secrets.DJANGO_SECRET_KEY }}
        run: |
          ssh ${{ secrets.EC2_USER }}@${{ secrets.EC2_HOST }} "SENTRY_DSN=$SENTRY_DSN DJANGO_SECRET_KEY=$DJANGO_SECRET_KEY bash /home/ubuntu/CarLogoDetection/deploy.sh"

